body {
    margin: 0px;
    font-family: Tahoma;
}

div {
    padding: 30px 0px;
    text-align: center;
}

p {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

